<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ meta.title|default('Hawk.so') }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{ meta.title|default('Hawk.so') }}"/>
  <meta property="og:site_name" content="Hawk">
  <meta name="description" property="og:description"
        content="{{ meta.description|default('Fast and lightweight errors tracking service.') }}"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
</head>
<body>

{% set pages = ['features', 'pricing', 'download', 'docs'] %}
<header class="header">
  <h1 class="header__title">
    <a href="/">Hawk</a>
  </h1>
  <nav class="header__nav">
    {% for link in pages %}
      <a
          {% if link == currentPage %}
            class="header__nav--current"
          {% endif %}
          href="/{{ link }}"
      >
        {{ link | capitalize }}
      </a>
    {% endfor %}
  </nav>
  <a
      class="header__login-button"
      href="//stage.hawk.so/login"
  >
    Login
  </a>
</header>

<main class="main-content">
  {% block body %}{% endblock %}
</main>

<div style="display: none;">
  <svg xmlns="http://www.w3.org/2000/svg">
    <symbol id="tick" viewBox="0 0 15 10">
      <path fill-rule="evenodd"
            d="M6.44 7.01l7.07-7.07 1.415 1.414-7.071 7.07L6.439 9.84.782 4.182l1.415-1.414L6.439 7.01z"></path>
    </symbol>
  </svg>
</div>

</body>
</html>
