<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ meta.title|default('Hawk.so') }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{ meta.title|default('Hawk.so') }}"/>
  <meta property="og:site_name" content="Hawk">
  <meta name="description" property="og:description"
        content="{{ meta.description|default('Fast and lightweight errors tracking service.') }}"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700&display=swap" rel="stylesheet">
</head>
<body>
{% set pages = ['features', 'pricing', 'download', 'docs'] %}
<header class="header">
  <h1 class="header__title">
    <a href="/">Hawk</a>
  </h1>
  <nav class="header__nav">
    {% for link in pages %}
      <a
          {% if link == currentPage %}
            class="header__nav--current"
          {% endif %}
          href="/{{ link }}"
      >
        {{link | capitalize}}
      </a>
    {% endfor %}
  </nav>
  <a
      class="header__login-button"
      href="//stage.hawk.so/login"
  >
    Login
  </a>
</header>
<main class="main-content">
  {% block body %}{% endblock %}
</main>
</body>
</html>
